<% for( let i = 0; i < data.length; i++ ) { %>

    <tr style="border-radius: 15px;">
        <td><%= i + 1%> </td>
        <td><%= data[i].sub %> </td>
        <td><%
            s=new Date(data[i].st); 
            s = s.toLocaleString( 'en-IN',{
                weekday: 'short', 
                day: 'numeric',
                month: 'short', 
                hour: 'numeric', 
                minute: 'numeric', 
            }); %> 
            <%= s %> 
        </td>
        <td><%
            e=new Date(data[i].et); 
            e = e.toLocaleString( 'en-IN',{
                weekday: 'short', 
                day: 'numeric',
                month: 'short', 
                hour: 'numeric', 
                minute: 'numeric', 
            }); %> 
            <%= e %> 
        </td>
        <td><%= data[i].link %> </td>
        <td>
            <a href="/update/<%= allocation %>?id=<%= data[i].id %> " title="update <%= allocation %> <%= data[i].id %> " class="btn update">
                <span ><i class="fas fa-pen-alt"></i></span>
            </a>

            <a class="btn delete" data-id="<%= data[i].id %>" data-allocation="<%= allocation %>">
                <span><i class="far fa-trash-alt"></i></span>
            </a>
        </td>
    </tr>

<% } %>